<form [formGroup]="loanForm" (ngSubmit)="onSubmit(loanForm.value)" [@enter]="right">
  <p-panel header="LOAN DETAILS">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Loan Amount: <span class="red-ast">*</span>
        </div>
        <div class="ui-grid-col-6">
          <p-slider formControlName="loanAmt" [min]="0" [max]="5000" [animate]="true" styleClass="slider-ctrl" (ngModelChange)="onLoanAmountChange($event)"></p-slider>
        </div>
        <div class="ui-grid-col-4">
          {{loanAmount | indianCurrency}}
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Existing EMI: <span class="red-ast">*</span>
        </div>
        <div class="ui-grid-col-6">
          <p-slider formControlName="existingEMI" [min]="0" [max]="5000" [animate]="true" styleClass="slider-ctrl" (ngModelChange)="onExistingEMIChange($event)"></p-slider>
        </div>
        <div class="ui-grid-col-4">
          {{existingEMI | indianCurrency}}
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2"></div>
        <div class="ui-grid-col-6">
          <button pButton type="submit" class="ui-button-warning ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
            label="Next" [disabled]="!loanForm.valid"></button>

        </div>
        <div class="ui-grid-col-4"></div>
      </div>
      <div style="text-align:center;margin-top:20px">
        <!--*ngIf="submitted"-->
        Form Submitted
        <br> {{diagnostic}}
      </div>
    </div>
  </p-panel>
</form>